<!DOCTYPE html>
<html>
<head>
	<title>My Form Example</title>
    <link rel="stylesheet" href="/static/css/checkbox.css">
    <link rel="stylesheet" href="/static/css/button.css">
</head>
<body>
    <h1>Add New Character</h1>
    <a href="/" class="button">View My Characters</a>
	<form id="bosses" action="/">
        <label for="character-name">Character Name:</label>
		<input type="text" id="character-name" name="character-name">

		<div class="checkbox-group">
			<label for="checkbox1">Hard Hilla</label>
			<input type="checkbox" id="checkbox1" name="hilla" value="true" unchecked value="false">
		</div>

		<div class="checkbox-group">
			<label for="checkbox2">Chaos Pink Bean</label>
			<input type="checkbox" id="checkbox2" name="pinkbean" value="true" unchecked value="false">
		</div>

		<div class="checkbox-group">
			<label for="checkbox3">Normal Cygnus</label>
			<input type="checkbox" id="checkbox3" name="cygnus" value="true" unchecked value="false">
		</div>
		
		<div class="checkbox-group">
			<label for="checkbox3">Chaos Zakum</label>
			<input type="checkbox" id="checkbox3" name="zakum" value="true" unchecked value="false">
		</div>
		
		<div class="checkbox-group">
			<label for="checkbox3">Chaos Crimson Queen</label>
			<input type="checkbox" id="checkbox3" name="queen" value="true" unchecked value="false">
		</div>
		
		<div class="checkbox-group">
			<label for="checkbox3">Chaos Pierre</label>
			<input type="checkbox" id="checkbox3" name="pierre" value="true" unchecked value="false">
		</div>
		
		<div class="checkbox-group">
			<label for="checkbox3">Chaos Von Bon</label>
			<input type="checkbox" id="checkbox3" name="vonbon" value="true" unchecked value="false">
		</div>
		
		<div class="checkbox-group">
			<label for="checkbox3">Princess No</label>
			<input type="checkbox" id="checkbox3" name="pno" value="true" unchecked value="false">
		</div>
		
		<div class="checkbox-group">
			<label for="checkbox3">Hard Magnus</label>
			<input type="checkbox" id="checkbox3" name="magnus" value="true" unchecked value="false">
		</div>
		
		<div class="checkbox-group">
			<label for="checkbox3">Chaos Vellum</label>
			<input type="checkbox" id="checkbox3" name="vellum" value="true" unchecked value="false">
		</div>

        <input type="submit" value="Submit">
	</form>
    <script src="/static/js/add-character.js"></script>
</body>
</html>
