<!DOCTYPE html>
<html>
  <head>
    <title>Boss Income Calculator</title>
    <link rel="stylesheet" href="/static/css/button.css">
    <link rel="stylesheet" href="/static/css/table.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body onload="getCharacters()">
    <h1>Boss Mule Income Calculator</h1>

    <a href="/add_character" class="button">Add Character</a>
    
    <table id="characters">
      <thead>
        <tr>
          <th>Character Name</th>
          <th>Hard Hilla<img src="/static/images/hilla.webp"></th>
          <th>Chaos Pink Bean<img src="/static/images/pinkbean.webp"></th>
          <th>Normal Cygnus<img src="/static/images/cygnus.webp"></th>
          <th>Chaos Zakum<img src="/static/images/zakum.webp"></th>
          <th>Chaos Crimson Queen<img src="/static/images/queen.webp"></th>
          <th>Chaos Pierre<img src="/static/images/pierre.webp"></th>
          <th>Chaos Von Bon<img src="/static/images/vonbon.webp"></th>
          <th>Princess No<img src="/static/images/pno.webp"></th>
          <th>Hard Magnus<img src="/static/images/magnus.webp"></th>
          <th>Chaos Vellum<img src="/static/images/vellum.webp"></th>
          <th>Character Income<br><img src="/static/images/mesobag.webp"></th>
        </tr>
      </thead>
    </table>
    <script src="/static/js/get-characters.js"></script>

    
  </body>
</html>
